.item-detail {
    display: flex;
    height:calc(100vh + 100px);
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-detail {
    background-color: red;
    width: 200px;
    margin-top: 30px;
    border-radius: 30px;
}
.img-detail img{
    width: 80%;
}